.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.auth-form {
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.auth-form button{
  margin-top: 10px;
}